<div class="panel-body">
    <p>Hello <strong>{{section.data.contactFirstName}}</strong>. My name is {{section.data.userData.firstName + " " + section.data.userData.lastName}} and I am an Acronis Backup specialist. {{section.data.contactName}}, I know that right now you are testing our product <strong>{{section.data.productName}} <span ng-show="detectProduct(section.data.productName)">for {{section.data.platform}}</span></strong>.</p>

    <p>The goal of my call is help you to choose the best product from our portfolio that will fit your needs and agree on next steps.</p>

    <p>I will be your primary contact at Acronis throughout your evaluation period. In addition to advising you on the right products and licensing for your project I can also help by arranging  </p>
</div>