<div class="panel-body">
    <p>{{section.data.contactName}}, please help me to understand what happened in the company that made you start looking for a new {{getSolutionType(section.data.productName)}} solution? </p>
    <textarea rows="3" cols="60"></textarea>
    <br>
    <button class="btn" ng-click="section.data.reason = 'event'">Compelling Event</button>
    <button class="btn" ng-click="section.data.reason = 'project'">Project</button>
    <div ng-hide="section.data.reason == null">
        <div id="eventQuestions" ng-show="section.data.reason == 'event'">
            <p>What happened?</p>
            <p>What was the main reasons for that?</p>
            <p>How much time was needed to recover?</p>
            <p>Why did take it so long?</p>
            <p>What was lost?</p>
            <p>How critical was this event for the company? </p>
            <p>How it's effect you personally?</p>
            <p>Did it happen before? How often does it happen in last 12 month?</p>  
            <p>
            <p>Which departments was impacted?</p>
            </p>
            <p>What was the implications for the company?</p>
            <p>How many of your customers was impacted?</p> 
            <p>What was the financial impact of that?</p>
            <p>How it's impact the reputation of the company (look for revenue\profitability\time\ reputation\ customers lost)</p>
            <p>What solution do you use now?</p>
            <p>What’s make you looking for new solution?</p>
            <p>Why current solution does not fit?</p>
            <p>thank you for sharing that!</p>
        </div>
        <div id="projectQuestions" ng-show="section.data.reason == 'project'">
            <p>Project</p>
        </div>
    </div>
</div>



