.iconContainer {
    width: 20px;
    display: inline-block;
    margin-right: 20px;
    text-align: center;
}

.icon {
    font-size: 1.5em;
}

.sectionDescription {
    font-size: 1.2em;
    margin: 10px 10px 20px 10px;
    border: 1px solid black;
    padding: 10px;
}

body {
    padding-bottom: 50px;
}

#summaryBox h4 {
    background-color: #f5f5f5;
    color: #333;
    padding: 5px;    
}

#summaryBox p {
    padding-left: 20px;    

}
.shadowBox {
    width: 100%;
    height: 2160px;
    position: fixed;
    background-color: rgba(0,0,0,.75);
    top: 0px;
}

.formContainer {
    width: 75%;
    margin: auto;
    background-color: #FFA500;
    margin-top: 300px;
    
}

.centerBox {
    display: table;
    margin: auto;
    text-align: center;
}

.centerBox h2 {
    text-align: center;
}

.centerBox label {
    margin-right: 20px;
}

.userForm {
    margin-bottom: 20px;
}

.userForm select {
    width: 200px;
    display: inline;
}

#userInfo {
    float: right;
    display: inline-block;
    margin-top: 7px;
}

#userInfo div, #userInfo h5 {
    display: inline-block;
    margin-left: 10px;
}

.alert {
    color: white;
    margin: auto;
    text-align: center;
}

.form-control {
    margin-bottom: 10px;    
}

#summaryBox {
    position: fixed;
    right: 150px;
    height: 600px;
    overflow: auto;
}

.container .btn {
    margin-bottom: 10px !important;
    margin-right: 5px;
    display: inline-block;
}

#intro {
    margin-bottom: 20px;
}

p, .sectionDescription {
    line-height: 1.5em;
}

a {
    text-decoration: none !important;
    color: black !important;
}

.hidden {
    display: none;
}

.ion-checkmark {
    color: seagreen;
    margin-right: 5px;
}

textarea {
    resize: vertical;
}

.fadedCheckmark {
    opacity: .5;
}

.checkmarkHidden {
    visibility: hidden;
}

.checkmarkVisible {
    visibility: visible;
}

.checkmark {
    width: 30px;
}

.questionRow {
    padding-bottom: 50px;
}
